*{
    margin:0px;
    padding:0px;
}
body{
    height:30px;
    width:70%;
    height:80%;
    position: relative;
    margin:auto;
}
.container{
    margin:15px ;
}
.vertical { 
    border-left: 3px solid grey; 
    height: 920px; 
    position:absolute; 
    left: 45%; 
} 
.content{
   
    display: flex;
    /* justify-items:center;
    align-items: center; */
    justify-content: space-evenly;
    /* justify-content:center;
    justify-content: space-around; */
}
#date,#date2,#date3,#date4{
    display: inline;
    float: right;
    
}
#d,#d1,#eng1{
    display:inline;
}
#loc,#loc3,#loc4{
    margin-top: 0px;
}
#Eng,#expe,#edu,#ed{
    display: inline;
}
.hp1{
    height:250px;
    width:100%;
    background-color:grey;
    position: relative;
   display: flex;
   
    
}
#one{
    position: absolute;
    left:400px;
    top:120px;
    border-radius: 50%;
    border-style: dotted;
    border-color:  yellow;
    border-width: 40px solid;
    
    
}
#onep{
    background-color:orange;
    font-weight: bold;
    font-family: monospace;
    font-size: 40px;
    text-align: center;
    width:500px;
    height:66px;
    left:230px;
    top:-20px;
    position: absolute;
}
.hp2{
    height:40px;
    width: 100%;
    background-color:lightgrey;
    position: relative;
}
.hp3{
    height:50px;
    width:100%;
    background-color:grey;
}
#hrline{
    border-bottom: gray;
    border-color: silver;
    border-width: 2px;
    margin-bottom: 20px;

}
.hp4 p{
    text-align: center;
}

#line1{
    color: silver;
}
.content #Profile,.content #Skills,.wrk #exp,#edu,#expe{
    color: grey;
    font-size: 30px;
    font-weight: bold;
    

}
.content p{
    
    margin-top: 20px;
    margin-bottom: 20px;
    
}
#sk1,#sk2{
    margin-left:60px;
}
/* .wrk ul li{
    width:60%;
} */

.hp4 p{
    padding:10px;
}
.content #JS{
    /* width: 150px; */
    border-radius: 3px;
    }

.content .left{
    margin-right:170px;
}






